Source: honeyd
Section: net
Priority: optional
Maintainer: Michel Oosterhof <michel@oosterhof.net>
Build-Depends: debhelper-compat (= 13),
               cmake,
               libevent-dev,
               libpcap-dev,
               libdumbnet-dev (>> 1.8),
               flex,
               bison,
               libreadline-dev,
               zlib1g-dev
Standards-Version: 4.6.2
Homepage: https://github.com/cowrie/honeyd
Vcs-Git: https://github.com/cowrie/honeyd.git
Vcs-Browser: https://github.com/cowrie/honeyd
Rules-Requires-Root: no

Package: honeyd
Architecture: any
Depends: adduser (>= 3.52),
         ${shlibs:Depends},
         ${misc:Depends}
Recommends: rrdtool
Description: Small daemon that creates virtual hosts simulating their services and behaviour
 Honeyd is a small daemon that creates virtual hosts on a network. The
 hosts can be configured to run arbitrary services, and their TCP
 personality can be adapted so that they appear to be running certain
 versions of operating systems. Honeyd enables a single host to claim
 multiple addresses on a LAN for network simulation. It is possible to ping
 the virtual machines, or to traceroute them. Any type of service on the
 virtual machine can be simulated according to a simple configuration file.
 Instead of simulating a service, it is also possible to proxy it to
 another machine.
 .
 Features:
     * Simulates thousands of virtual hosts at the same time.
     * Configuration of arbitrary services via simple configuration file:
        o Includes proxy connects.
     * Simulates operating systems at TCP/IP stack level:
        o Fools nmap and xprobe,
        o Adjustable fragment reassembly policy,
        o Adjustable FIN-scan policy.
     * Simulation of arbitrary routing topologies:
       o Configurable latency and packet loss.
 .
 This package includes service simulation scripts for smtp, pop3, ftp,
 telnet, web server, ssh, and more.
