#!/usr/bin/make -f
# debian/rules for honeyd using debhelper and CMake

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Enable hardening
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --no-error-on-missing

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo

override_dh_auto_install:
	dh_auto_install
	# Relocate configuration files
	mkdir -p $(CURDIR)/debian/tmp/etc/honeyd
	for file in nmap.assoc nmap-mac-prefixes nmap-os-db xprobe2.conf pf.os config.sample; do \
		if [ -f $(CURDIR)/debian/tmp/usr/share/honeyd/$$file ]; then \
			mv $(CURDIR)/debian/tmp/usr/share/honeyd/$$file \
				$(CURDIR)/debian/tmp/etc/honeyd/; \
			ln -s /etc/honeyd/$$file \
				$(CURDIR)/debian/tmp/usr/share/honeyd/$$file; \
		fi; \
	done
	# Rename config.sample to honeyd.conf
	if [ -f $(CURDIR)/debian/tmp/etc/honeyd/config.sample ]; then \
		mv $(CURDIR)/debian/tmp/etc/honeyd/config.sample \
			$(CURDIR)/debian/tmp/etc/honeyd/honeyd.conf; \
	fi
	# Remove redundant files
	rm -f $(CURDIR)/debian/tmp/usr/share/honeyd/README
	rm -f $(CURDIR)/debian/tmp/usr/share/honeyd/config.sample

override_dh_installlogrotate:
	dh_installlogrotate

override_dh_installinit:
	dh_installinit --no-start -r -- stop 20 0 6 .

override_dh_installsystemd:
	dh_installsystemd --no-start
